{% extends "homepage.html" %}

{% block title %}
Perfil - {{user}}
{% endblock %}

{% block body %}
<body>
    <h1>Perfil de {{user.username}}</h1>
    {%if form%}
    <form method="POST" enctype="multipart/form-data">
    {{form.csrf_token}}

    {{form.photo()}}
    {{form.submitButton()}}
    </form>
    {%endif%}

    <a href="{{url_for('logout')}}">Sair</a>
    
    {%for photo in user.photos%}
        <img src="{{url_for('static', filename='photos_posts/{}'.format(photo.image))}}" alt="">
    {%endfor%}
</body>
{% endblock %}